/* mypage.css */

.setting-item {
    margin-bottom: 12px;
}

.setting-item label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    color: var(--accent-color);
}

#theme-color-picker {
    border: 2px solid #fff;
    background-color: var(--bg-color);
    cursor: pointer;
    padding: 0;
}